h1{
font-size: 30px;
text-align: left;
color: #191970;
font-family: Arial, sans-serif
}

h2{
font-size: 25px;
text-align: left;
color: #191970;
font-family: Arial, sans-serif
}

p{
font-size: 20px;
text-align: left;
color: #191970;
font-family: Arial, sans-serif;
}

body {
background-color: #F0F8FF;
}